
#Navigationbar{
  
  background: #BDFF68;
  border-radius: 10px;
}

.login-container{
  font-size: 24px;
  text-align: center;
  background-color: #575757;
  border-radius: 20px;
  color: white;
  text-shadow: 2px 2px black;

}


.form-field {
  margin-bottom: 20px;
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  margin-bottom: 20px;
}


.Button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 24px;
  color: #FFFFFF;
  padding: 10px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  text-shadow: 1px 1px black;

}
button:hover{
  background-color: green;

}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
