nav {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

nav ul {
  font-size: 24px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  color: #555;
  margin: 10px 15px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #555;
}